footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
    padding-bottom: 40px;
}
.footer-container{
    background-color: #D0B49F;
    color:var(--fonts);
    font-family: 'Gabriola', sans-serif;
    justify-content: center;
    align-items: center;
}


.footer-container h1{
    font-family: 'Gabriola', sans-serif;    
    text-align: center;
    width: 100vw;

}
.footer-container .logos{
    display: flex;
    color:var(--fonts);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-container .card{
    width: auto;
    align-items: center;
    margin: 0;
    font-size: 35px;

}

.footer-container i{
    color:#201A1E;
    
}