.cart {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 40%;
  max-width: 60%;
  min-height: 30%;
  max-height: 60%;
  background-color: var(--light);
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-top-left-radius: 0.5rem;
  transition: all 0.3s ease-out;
  z-index: 99;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 1rem;
  margin: 0.5rem 0.5rem;
}

.cart h5 {
  padding-top: 1rem;
  margin: 0.5rem 0.5rem;
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  bottom: 3%;
  right: 3%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--light);
  border-radius: 50%;
  border: 2px solid var(--gfonts);
  padding: 0.25rem;
  width: 68px;
  height: 68px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.cart-closed:hover {
  transform: rotate(10deg);
  transition: 0.5s;
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

#shopping-bag {
  margin-left: 14px;
  margin-top: 12px;
}

#item-count {
  position: relative;
  top: -16px;
  left: -10px;
  color: var(--light);
  font-size: 35%;
  padding: 15%;
  border-radius: 50%;
  background-color: var(--tertiary);
}

#close-icon {
  font-size: 180%;
  margin-right: 10%;
  margin-top: 10%;
  color: var(--gfonts);
}

#total {
  font-size: 1.2rem;
  margin: 1% 2%;
  color: var(--gfonts);
}

#checkout-btn {
  margin: 1% 2%;
  width: 100%;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
}

@media screen and (max-width: 640px) {
  .cart {
    min-width: 98%;
    min-height: 98%;
  }
}
