#cart-item {
    padding-top: 3%; 
    font-size: 1rem;
    width: 98%; 
    margin: 1%; 
    border-bottom: 1px solid var(--dark);
}

#cart-item img {
    border: 1px solid var(--dark);
}

#quantity {
    text-align: center;
    margin-left: 10px;
    height: 22px; 
}